{% extends 'main.html' %}
{% load staticfiles %}
{% block picture %}
     <form action="/add/"  enctype="multipart/form-data" method="post">
         {% csrf_token %}

         <div class="">
             <div>
                 <p>Select the picture:</p>{{ form.file }}
                 <p>Name of picture: {{ form.name_of_picture }}</p>
                 <p>Do you want, that your picture was seen by not registration users?</p>

                    {{form.check }}
             </div>
             <button type="submit" class="btn btn-success">Add picture</button>
             </div>
     </form>


{% endblock %}